{% extends "base.html.twig" %}

{% block title %}Deck Of Cards{% endblock %}

{% block content %}
<main class="main">
    <h1>Deck Of Cards ({{ num_of_cards }})</h1>

    <div class="cards">
    {% for card in cards %}
        <div class="card">
            <span class="suit suit-{{ card.getSuit() }}">{{ card.getSuit() }}</span>
            <span class="value {{ card.getValue() }}">{{ card.getValue() }}</span>
            <span class="suit-alt suit-{{ card.getSuit() }}">{{ card.getSuit() }}</span>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}