{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block content %}
<main class="main">
    <h1>Card game</h1>

    <p>You can read more on the <a href="https://en.wikipedia.org/wiki/Card_game" target="_blank"> 
    basics of the game on Wikipedia</a>.</p>

    <br>
    <h2>Links</h2>
    <hr>

    <p>
        <a href="{{ path('card_deck') }}">Show a deck of cards (sorted based on color and value)</a>
    </p>
    <p>
        <a href="{{ path('card_deck_shuffle') }}">Show a deck of cards (shuffled)</a>
    </p>
    <p>
        <a href="{{ path('card_draw') }}">Draw one card of the deck</a>
    </p>
    <p>
        <a href="{{ path('card_draw') }}/5">Draw five cards of the deck</a>
    </p>

    <br>
    <h2>Strukturen på klasser och deras relation</h2>
    <hr>

<pre>
Det finns 4st klasser i card game. <em>DeckOfCards</em>, <em>CardHand</em> och <em>Card</em> och <em>CardGraphic</em>.

<em>CardGraphic</em> ärvs ifrån <em>Card</em> klassen, och lägger bara till synligheten.

<em>CardHand</em> kan som max ta 52st <em>Card</em> objekt. I <em>CardHand</em> kan du lägga till eller ta bort kort, samt få ut en sträng av objektet.

<em>DeckOfCards</em> har komposition förhållande mellan <em>Card</em>. Där <em>DeckOfCards</em> kan bara finnas max 1st och <em>DeckOfCards</em> kan ha kort som är mellan 1 till 52st.
</pre>

    <br>
    <h2>UML Diagram</h2>
    <hr>

    <figure>
        <img class="img"
            src="{{ asset('img/uml.png') }}"
            alt="UML"
        />
        <figcaption>
            <span class="un">UML</span>
        </figcaption>
    </figure>
</main>
{% endblock %}