<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}

        <link rel="icon" href="{{ asset('img/favicon_2.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header class="header">
        <nav class="nav">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <span class="un">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('project') }}">
                        <span class="un">Project</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('report') }}">
                        <span class="un">Report</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('metrics') }}">
                        <span class="un">Metrics</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('lucky') }}">
                        <span class="un">Lucky</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('card') }}">
                        <span class="un">Card</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('game') }}">
                        <span class="un">21 Card Game</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('book_library') }}">
                        <span class="un">Biblioteket</span>
                    </a>
                <li>
                <li>
                    <a href="{{ path('api') }}">
                        <span class="un">API</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('about') }}">
                        <span class="un">About</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-logo">
            <img class="img-logo"
                src="{{ asset('img/studenten_small.png') }}"
                alt="Studenten 2020"
            />
            <p>Robin</p>
        </div>
    </header>
    <body>
        {{ include('flash.html.twig') }}
        <div class="page-container">
        <div class="content-wrap">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}
                <p>&copy; 2023 Robin Johannesson</p>
            {% endblock %}
        </footer>
        </div>
    </body>
</html>
