{% extends "proj_base.html.twig" %}

{% block title %}API - Poker Square{% endblock %}

{% block proj %}
<main class="main">
    <h1>Projektets API</h1>
    <p>Se spelets information, <a href="{{ path('api_project_game') }}">länk till API</a>.</p>
    <p>Se spelets poäng system, <a href="{{ path('api_project_game_points') }}">länk till API</a>.</p>
    <p>Se spelets tidtagare, <a href="{{ path('api_project_game_date') }}">länk till API</a>.</p>
    <p>Se poängen för en viss rad, <a href="{{ path('api_project_game_row', { "row": 4}) }}">länk till API</a>.</p>
    <p>Se poängen för en viss kolumn, <a href="{{ path('api_project_game_column', { "column": 2 }) }}">länk till API</a>.</p>

    <form class="form" method="POST" action="{{ placeCardURL }}">
        <fieldset>
           <legend>Placera ett slumpmässigt kort på bordet</legend>
            <label for="row_index">Rad [Index]</label>
            <input id="row_index" type="number" name="row_index" min="0" max="4" value="0" required>
            <label for="column_index">Kolumn [Index]</label>
            <input id="column_index" type="number" name="column_index" min="0" max="4" value="0" required>
            <input type="submit" value="Placera kortet">
        </fieldset>
    </form>
</main>
{% endblock %}